@import url('main.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
 }
.about{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.about-row{
    display: flex;
}
.about-row2{
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
 }
.about-2-5{
    color: var(--color-skyblue);
    text-align: center;
    margin-top: 30px;
}
.about__colum-2-4{
    height: 342px;
}
p {
    font-size: 1.2em;
}
.about-description{
    padding: 20px;
    text-align: justify;
}
.about-contact{
    text-align: center;
}
.email-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.email-link:hover {
    text-decoration: underline;
    color: var(--secondary-color);

}