* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
 }
.about{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.about-row{
    display: flex;
}
/* .about__colum-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
} */
 .about-row2{
    padding-left: 5px;
    padding-right: 5px;
    /* width: 50%; */
 }
.about-2-5{
    color:#87CEEB;
    text-align: center;
    margin-top: 30px;
}
a {
    font-size: 1.2em;
}