#cart-container {
    padding: 0 80px;
}
#cart-container table tbody tr td,
#cart-container table tbody tr th {
    vertical-align: middle;
}
#cart-container table tbody tr td img {
    width: 60px;
    height: 60px;
    box-shadow: 0 0 4px #0004;
    border-radius: 4px;
}