@import url('main.css');
.container-contact {
    margin: 0;
    width: 100%;
    height: 90vh;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.contact {
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.contact h2 {
    text-align: center;
}
.contact form {
    width: 100%;
    padding: 20px;
}
.contact form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
.contact form input, .contact form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.submit2-toggle {
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    background-image: linear-gradient(to right, #0099FF, #CCFFFF);
    color: white;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    transition: all 0.4s ease;
}
.submit2-toggle:hover {
    background-image: linear-gradient(to right, #00CCFFFF, #0099FF); 
}
.map {
    width: 80%;
    height: 100px;
    margin-right: 10%;
    padding: 10px;
    margin-bottom: 50%;

}
@media  screen and (max-width: 924px) {
    .container-contact {
        max-width: 100%;
        height: 120vh;
        display: inline-block;
    }
.map {
    width: 90%;
    height: 145px;
    margin-right: 0;
    padding: 10px;
}
}
