@import url('main.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
 }
.home-content {
    margin-top: 50px;
    padding: 30px;
}
 .home-img {
   height: 70vh;
   width: 100%;
   background-image: url('/public/img/Container/img-4.jpg');
   background-size: cover;
   overflow: hidden;
 }
.home-introduce {
   top: 50%;
   left: 10%; 
   transform: translateY(-50%);
   color: rgb(0, 0, 0); 
   max-width: 90%;
   position: absolute;
   font-size: clamp(1.5em, 4vw, 2.5em); /* điều chỉnh kích thước theo màn hình clamp(min, preferred, max) */
}
.product-list {
   margin: 20px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* điều chỉnh kích thước các cột */
   gap: 20px;
}
.product {
   text-align: center;
   border-radius: 15px;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   background-color: var(--color-category-background);
}
.product:hover {
   transform: translateY(-7px);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-list img {
   max-width: 100%;
   border-radius: 10px;
}
.service-list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   margin: 20px;
   gap: 20px;
}
.service-list img {
   max-width: 100%;
   border-radius: 10px;
}
.service {
   background-color: var(--color-category-background);
   padding: 20px;
   border-radius: 15px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.service:hover {
   transform: translateY(-7px);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}
                   /* Style sections */

section {
   margin: 20px;
}
.Contents {
   margin: 0 20px;
}
.Contents h1 {
   font-weight: bolder;
   font-family: sans-serif;
   justify-content: center;
   text-align: center;
}
.Contents p {
   font-size: 1.2em;
}
.Contents h3 {
   color: #4682B4;
}

@media screen and (max-width: 924px) {
   .home-img {
         height: 30vh;
         width: 100%;
   }
}
