 @import url(./root.css);
 /* boostrap icons */
 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
 /* các font chữ */
 @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
 }
 .btnTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-skyblue);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
 }
 .btnShop-Mobile {
    display: none;
 }
 .page-view-counter {
      position: absolute;
      bottom: 0;
      right: 0;
      color: black;
      border: none;
      padding: 1px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s, box-shadow 0.3s;
      background-color: rgba(255, 255, 255, 0);
      z-index: 1000;
      font-size: 10px;
      text-align: center;

      
 }
@media screen and (max-width: 924px) {
 .btnShop {
    display: none;
   }
   .btnShop-Mobile {
      position: fixed;
      display: block;
      padding: 5px 10px;
      font-size: 2.5vh;
      background-color: white;
      border-radius: 40%;
      right: 20px;
      bottom: 80px;
      background-color: var(--color-skyblue);
      border-radius: 50%;
      border: none;
      color: white;
   }
}