@import url('main.css');

.product-detail {
    padding: 20px;
    background-color: var(--alice-blue);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--slate-gray);
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.product-detail img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-detail h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--steel-blue);
}

.product-detail p {
    font-size: 1.2em;
    color: var(--slate-gray);
}
.product-info {
    display: flex;
    justify-content: space-between;
}
.product-info ul li {
    display: inline-block;
    list-style: none;
    color: yellow;
    margin: 0 2px;
}