@import url('main.css');
.services-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}
.services-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.services-tabs button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.services-tabs button:hover {
    background-color: #e0e0e0;
}

.services-tabs button.active {
    background-color: #d0d0d0;
    border-bottom: 2px solid #000;
}

.content-tabs {
    text-align: center;
}

.tab-content {
    padding: 0 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
}

.service-item {
    margin-bottom: 20px;
}

.service-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--color-steelblue);
}

.service-content {
    display: flex;
    align-items: center;
}

.service-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin:0 20px;
    border-radius: 10px;
}

.service-description {
    flex: 1;
    margin: 0;
    color: var(--black-color);
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
}
#service-btns {
    display: flex;
    margin-top: 20px;
}
#service-btns button {
    background-color: var(--color-lightblue);
    border: 1px solid #ccc;
    padding: 4px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
}
.service-btn{
    color: var(--primary-black);
    padding: 4px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}