#slide-container {
    height: 400px;
}
#slide-container #carouselExample {
    height: 100%;
    width: 100%;
}
#slide-container #carouselExample .carousel-inner {
    height: 100%;
    width: 100%;
}
.carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
@media  screen and (max-width: 924px) {
    #slide-container {
        height: 200px;
    }
    #slide-container #carouselExample {
        height: 100%;
        width: 100%;
    }
    #slide-container #carouselExample .carousel-inner {
        height: 100%;
        width: 100%;
    }
    .carousel-inner img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
    
}